[submodule "zsh"]
	path = zsh
	url = git@github.com:SaratAngajalaoffl/dotfiles-zsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:SaratAngajalaoffl/dotfiles-nvim.git
[submodule "lazygit"]
	path = lazygit
	url = git@github.com:SaratAngajalaoffl/dotfiles-lazygit.git
[submodule "bin"]
	path = bin
	url = git@github.com:SaratAngajalaoffl/dotfiles-bin.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:SaratAngajalaoffl/dotfiles-kitty.git
[submodule "fastfetch"]
	path = fastfetch
	url = git@github.com:SaratAngajalaoffl/dotfiles-fastfetch.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:SaratAngajalaoffl/dotfiles-dunst.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:SaratAngajalaoffl/dotfiles-rofi.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:SaratAngajalaoffl/dotfiles-waybar.git
