[submodule "zsh"]
	path = zsh
	url = git@github.com:SaratAngajalaoffl/dotfiles-zsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:SaratAngajalaoffl/dotfiles-nvim.git
[submodule "lazygit"]
	path = lazygit
	url = git@github.com:SaratAngajalaoffl/dotfiles-lazygit.git
[submodule "bin"]
	path = bin
	url = git@github.com:SaratAngajalaoffl/dotfiles-bin.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:SaratAngajalaoffl/dotfiles-kitty.git
[submodule "fastfetch"]
	path = fastfetch
	url = git@github.com:SaratAngajalaoffl/dotfiles-fastfetch.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:SaratAngajalaoffl/dotfiles-dunst.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:SaratAngajalaoffl/dotfiles-rofi.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:SaratAngajalaoffl/dotfiles-waybar.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:SaratAngajalaoffl/dotfiles-scripts.git
[submodule "hypr"]
	path = hypr
	url = git@github.com:SaratAngajalaoffl/dotfiles-hypr.git
[submodule "systemd"]
	path = systemd
	url = git@github.com:SaratAngajalaoffl/dotfiles-systemd.git
[submodule "qt5ct"]
	path = qt5ct
	url = git@github.com:SaratAngajalaoffl/dotfiles-qt5ct.git
[submodule "qt6ct"]
	path = qt6ct
	url = git@github.com:SaratAngajalaoffl/dotfiles-qt6ct.git
[submodule "applications"]
	path = applications
	url = git@github.com:SaratAngajalaoffl/dotfiles-applications.git
[submodule "claude"]
	path = claude
	url = git@github.com:SaratAngajalaoffl/dotfiles-claude.git
[submodule "atuin"]
	path = atuin
	url = git@github.com:SaratAngajalaoffl/dotfiles-atuin.git
[submodule "pi-agent"]
	path = pi-agent
	url = git@github.com:SaratAngajalaoffl/dotfiles-pi-agent.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:SaratAngajalaoffl/dotfiles-tmux.git
[submodule "theme"]
	path = theme
	url = git@github.com:SaratAngajalaoffl/dotfiles-theme.git
[submodule "eww"]
	path = eww
	url = git@github.com:SaratAngajalaoffl/dotfiles-eww.git
